# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"
ORIGIN="Your Domain here"
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
# https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
# https://www.better-auth.com/docs/authentication/google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
# https://myaccount.google.com/apppasswords
SMTP_USER=""
SMTP_APP_PASSWORD=""
# https://aistudio.google.com/
GOOGLE_GENERATIVE_AI_API_KEY=""